/* Administrar.css */

/* Contenedor principal */
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
    padding: 20px;
    font-family: Arial, sans-serif;
    background: url('/path-to-your-image/sergey-pesterev-JV78PVf3gGI-unsplash.jpg') no-repeat center center fixed;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  }
  
  /* Título principal */
  .admin-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Tabla de usuarios */
  .admin-table {
    width: 80%; /* Ajusta el ancho de la tabla según lo necesario */
    border-collapse: separate; /* Separar las celdas */
    border-spacing: 0 15px; /* Espaciado entre filas */
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la tabla */
    border-radius: 5px; /* Bordes redondeados para la tabla */
  }
  
  .admin-table th, .admin-table td {
    padding: 15px; /* Mayor espacio interno */
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borde más suave */
  }
  
  .admin-table th {
    background-color: rgba(244, 244, 244, 0.8); /* Fondo de encabezado con opacidad */
  }
  
  /* Botones de acción */
  .admin-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .admin-table button.delete {
    background-color: #e74c3c;
  }
  
  .admin-table button.delete:hover {
    background-color: #c0392b;
  }
  
  .admin-table button.edit {
    background-color: #3498db;
  }
  
  .admin-table button.edit:hover {
    background-color: #2980b9;
  }
  
  /* Formulario de edición */
  .edit-form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.9); /* Fondo del formulario con opacidad */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajusta el ancho del formulario según lo necesario */
  }
  
  .edit-form h2 {
    margin-top: 0;
    color: #333;
  }
  
  .edit-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .edit-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .edit-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .edit-form button.save {
    background-color: #2ecc71;
  }
  
  .edit-form button.save:hover {
    background-color: #27ae60;
  }
  
  .edit-form button.cancel {
    background-color: #95a5a6;
  }
  
  .edit-form button.cancel:hover {
    background-color: #7f8c8d;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #e74c3c;
    margin-top: 20px;
    text-align: center;
  }
  