.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  
}

.app-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05); /* Blanco con 80% opacidad */
}

.app-container img {
  width: 80%; /* Aumenta el tamaño de la imagen */
  height: auto;
  margin-bottom: 30px; /* Espacio entre la imagen y el formulario */
}

.app-container .Usuario,
.app-container .Contraseña {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.app-container .Usuario p,
.app-container .Contraseña p {
  margin: 0 0 5px;
  color: #333;
  font-weight: bold;
  font-size: 13px;
}

.app-container .Usuario input,
.app-container .Contraseña input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}

.app-container .Error {
  color: red;
  margin: 10px 0;
  text-align: center;
}

.app-container .Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  gap: 10px; /* Espacio entre los botones */
}

.app-container .Buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
}

.app-container .Buttons button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app-container div {
    width: 90%;
    padding: 15px;
  }

  .app-container .Buttons {
    flex-direction: row; /* Asegura que los botones sigan estando uno al lado del otro */
  }

  .app-container .Buttons button {
    margin: 0;
  }
}
