/* Estilos generales */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

/* Estilos para los campos del formulario */
.Nombres,
.Apellidos,
.Genero,
.Email,
.Save,
.ConfirmacionSave {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.nombres label,
.apellidos label,
.genero label,
.email label,
.password label,
.pais label,
.guardar label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
}

.generoOpciones {
  display: flex;
  align-items: center;
}

.generoOpciones input[type="radio"] {
  margin-right: 5px;
}

/* Estilos para el botón de guardar */
.guardar {
  text-align: center;
  margin-top: 20px; /* Espaciado superior para separar el botón del formulario */
}

.guardar button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.guardar button:hover {
  background-color: #0056b3;
}

/* Estilos para los campos de texto y contraseñas */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .nombres,
  .apellidos,
  .genero,
  .email,
  .password,
  .pais,
  .guardar {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .guardar button {
    width: 100%;
    font-size: 16px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    font-size: 16px;
  }
}
