/* Estilos específicos para la aplicación dentro de .app-container */

.app-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif; 
}

.app-container .Container {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-container .Usuario,
.app-container .Contraseña,
.app-container .ConfirmacionContraseña {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.app-container .Usuario p,
.app-container .Contraseña p,
.app-container .ConfirmacionContraseña p {
  margin: 0;
  color: #666;
  font-weight: bold;
  width: 150px; 
  text-align: left;
  font-size: 13px; 
}

.app-container .Usuario input,
.app-container .Contraseña input,
.app-container .ConfirmacionContraseña input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px; 
}

.app-container .Buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.app-container .Buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px; 
  margin: 0 5px; 
}

.app-container .Buttons button:hover {
  background-color: #0056b3;
}
