
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30vh;
    margin-bottom: 20px; 
}

.large-button {
    width: 50%; 
    max-width: 400px;
    padding: 20px 40px; 
    font-size: 3rem; 
    background-color: #1377dc; 
    color: white; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.large-button:hover {
    background-color: #509ae4; 
    transform: translateY(-2px); 
}

.large-button:active {
    background-color: #3e2a4d; 
    transform: translateY(0); 
}
